$primary-color: #5a67d8;
$secondary-color: #edf2f7;
$bg-color: #f7fafc;
$font-color: #2d3748;
$border-radius: 8px;
$transition: 0.3s ease-in-out;

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  background-color: $bg-color;
  width: 100%;
  // max-width: 1100px;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 1rem;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;

    h3 {
      font-size: medium;
      align-self: flex-start;
    }

    .nftGallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      width: 90%;

      .nftLink {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: inherit;

        .nftItem {
          background-color: white;
          padding: 1rem;
          border-radius: $border-radius;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          width: 100%;
          max-width: 200px;
          text-align: center;
          transition: transform $transition;
          height: 250px;

          &:hover {
            transform: translateY(-5px);
          }

          img {
            width: 100%;
            border-radius: $border-radius;
            margin-bottom: 1rem;
          }

          .nftName {
            font-size: 1.2rem;
            color: $primary-color;
            margin-bottom: 0.5rem;
          }

          .nftDescription {
            font-size: 1rem;
            color: $font-color;
          }
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .home {
    .container {
      .nftGallery {
        width: 100%;
        gap: 1rem;
        .nftItem {
          width: 40%;
          gap: 0.2rem;
          height: 20vh;

          // img {
          //   width: 100%;
          //   border-radius: $border-radius;
          //   margin-bottom: 1rem;
          // }
        }
      }
    }
  }
}
